$main-font: "Hind", sans-serif;
$alt-font: "Source Sans Pro", sans-serif;
$header-bg-url: url(../img/m-h-day.jpg);

$highlighted-text: #23a0c5;
$btn-color: #669320;
$banner-gradient-left: #67941f;
$banner-gradient-right: #305fd6;
$primary-dark: #21232e;

$content-bg: #fff;
$card-bg: $primary-dark;
$footer-bg: $primary-dark;
