$main-font: "Hind", sans-serif;
$alt-font: "Source Sans Pro", sans-serif;

$header-bg-url: url(../img/m-h-night.jpg);

$highlighted-text: #fc4f3c;
$btn-color: #e2ab27;
$banner-gradient-left: #daa027;
$banner-gradient-right: #943250;
$primary-dark: #3b3f4f;

$content-bg: #666;
$card-bg: $primary-dark;
$footer-bg: $primary-dark;
